@page "/"
@inject HubService HubService
@inject BrowserService BrowserService

<Modal @ref="incomingCallModal" Closing="(e) => e.Cancel = e.CloseReason != CloseReason.UserClosing">
    <ModalBackdrop />
    <ModalContent Centered="true">
        <ModalBody>
            User @partner?.Name is calling you. Do you want to accept the call?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="DeclineCall">Decline</Button>
            <Button Color="Color.Success" Clicked="AcceptCall">Accept</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<div style="display: @(errorAlert ? "block" : "none")">
    <Alert Color="Color.Danger" Visible="true">
        <AlertMessage>Error!</AlertMessage>
        <AlertDescription>@errorMessage</AlertDescription>
        <CloseButton Clicked="() => errorAlert = false" />
    </Alert>
</div>
<div style="display: @(deviceAccessAlert ? "block" : "none")">
    <Alert Color="Color.Warning" Visible="true">
        <AlertMessage>Note!</AlertMessage>
        <AlertDescription>The browser should ask you to allow access to your camera and microphone. You need to accept that in order to use this site.</AlertDescription>
        <CloseButton Clicked="() => deviceAccessAlert = false" />
    </Alert>
</div>

<Row>
    <Column ColumnSize="ColumnSize.IsAuto">
        <Card>
            <CardBody>
                <CardTitle Size="5">Users Online</CardTitle>
                <CardText>
                    @foreach (var user in users)
                    {
                        <div>
                            <Icon Name="IconName.User" Margin="Margin.Is1"></Icon> @user.Name
                            @if (user != Root.Me)
                            {
                                if (state == State.Calling || state == State.InCall)
                                {
                                    <Button Clicked="() => HangUp(user)" Margin="Margin.Is1" Color="Color.Danger" Size="ButtonSize.Small">Hang Up</Button>
                                }
                                else
                                {
                                    <Button Clicked="() => Call(user)" Margin="Margin.Is1" Color="Color.Primary" Size="ButtonSize.Small">Call</Button>
                                }
                            }
                        </div>
                    }
                </CardText>
            </CardBody>
        </Card>
    </Column>
    <Column>
        <Card>
            <CardBody>
                <CardTitle Size="5">You</CardTitle>
                <CardText>
                    <video style="background-image: url('svg/@(state == State.Loading ? "puff" : (state == State.Error ? "times" : "user")).svg')" id="my-video" autoplay="autoplay"></video>
                </CardText>
            </CardBody>
        </Card>
    </Column>
    <Column>
        <Card>
            <CardBody>
                <CardTitle Size="5">Partner</CardTitle>
                <CardText>
                    <video style="background-image: url('svg/@(state == State.Calling ? "puff" : "user").svg')" id="partner-video" autoplay="autoplay"></video>
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    [CascadingParameter]
    MainLayout Root { get; set; }

    Modal incomingCallModal;
    User partner;
    State state;
    bool errorAlert;
    bool deviceAccessAlert = true;
    List<User> users = new List<User>();
    string errorMessage;
    Timer timer;
    string localStreamId;

    protected override async Task OnInitializedAsync()
    {
        HubService.OnOnlineUsersUpdated += (onlineUsers) =>
        {
            users = onlineUsers;
            StateHasChanged();
        };

        HubService.OnBalanceUpdated += (balance) =>
        {
            Root.Me.Balance = balance;
            StateHasChanged();
        };

        HubService.OnCallDeclined += (message) =>
        {
            Root.ShowPopup(FormatUserAction(message));
            Reset();
        };

        HubService.OnCallEnded += (message) =>
        {
            incomingCallModal.Hide();
            BrowserService.CloseConnection(message.User.ConnectionId);
            Root.ShowPopup(FormatUserAction(message));
            Reset();
        };

        HubService.OnCallDenied += (message) =>
        {
            BrowserService.CloseConnection(message.User.ConnectionId);
            Root.ShowPopup(FormatServerAction(message));
            Reset();
        };

        HubService.OnIncomingCall += (connectionId) =>
        {
            var user = users.SingleOrDefault(x => x.ConnectionId == connectionId);

            if (user != null)
            {
                partner = user;
                incomingCallModal.Show();
            }
        };

        HubService.OnCallAccepted += (connectionId) =>
        {
            state = State.InCall;
            BrowserService.InitiateOffer(connectionId);
        };

        HubService.OnCallAborted += (message) =>
        {
            BrowserService.CloseConnection(message.User.ConnectionId);
            Root.ShowPopup(FormatServerAction(message));
            Reset();
        };

        HubService.OnPoll += async (message) =>
        {
            var pollResult = await BrowserService.CheckState(message.User.ConnectionId, message.Poll.StreamId);
            await HubService.AnswerPoll(message.Poll.Id, pollResult);
        };

        BrowserService.OnLocalMediaAttached += (success, streamId) =>
        {
            if (success)
            {
                deviceAccessAlert = false;
                localStreamId = streamId;
                state = State.Idle;
            }
            else
            {
                state = State.Error;
                ShowError("Failed to get hardware access. Please make sure that another browser or program isn't using your camera/microphone.");
                //ShowError("Your browser does not support WebRTC. Please install a modern browser such as Chrome or Firefox to use this site.");
            }

            StateHasChanged();
        };

        BrowserService.OnSendSignal += (string data, string connectionId) =>
        {
            HubService.SendSignal(data, connectionId);
        };

        HubService.OnSignalReceived += (connectionId, data) =>
        {
            BrowserService.ProcessSignal(connectionId, data);
        };

        BrowserService.OnConnectionStateChanged += (connectionId, state) =>
        {
            if (!Root.Me.IsMale)
            {
                if (state == PeerConnectionState.Connected)
                {
                    Console.WriteLine("App: Staring poll timer");
                    StartTimer();
                }
                else if (state == PeerConnectionState.Disconnected || state == PeerConnectionState.Failed)
                {
                    Console.WriteLine("App: Stopping timer");
                    StopTimer();
                }
            }
        };

        users = await HubService.GetOnlineUsers();

        state = State.Loading;
        await BrowserService.Init();
    }

    void Call(User user)
    {
        HubService.CallUser(user.ConnectionId);
        partner = user;
        state = State.Calling;
    }

    void HangUp(User user)
    {
        HubService.HangUp();
        BrowserService.CloseConnection(user.ConnectionId);

        Reset();
    }

    async Task AcceptCall()
    {
        await HubService.AnswerCall(true, partner.ConnectionId);

        state = State.InCall;
        incomingCallModal.Hide();
    }

    async Task DeclineCall()
    {
        await HubService.AnswerCall(false, partner.ConnectionId);

        incomingCallModal.Hide();
        Root.ShowPopup("Call declined");

        Reset();
    }

    void ShowError(string message)
    {
        errorMessage = message;
        errorAlert = true;
        deviceAccessAlert = false;
    }

    string FormatUserAction(UserActionMessage message)
    {
        var token = message.Action switch
        {
            UserAction.Decline => "declined your call",
            UserAction.Leave => "has left",
            UserAction.Busy => "is busy",
            UserAction.HangUp => "hung up",
            UserAction.Cancel => "cancelled the call",
            _ => message.Action.ToString().ToLowerInvariant()
        };

        return $"{message.User.Name} {token}";
    }

    string FormatServerAction(ServerActionMessage message)
    {
        return message.Action switch
        {
            ServerAction.NotAllowed => message.ActionTarget == Root.Me ? "You are not allowed to chat" : $"{message.ActionTarget.Name} is not allowed to chat",
            ServerAction.NotEnoughCredits => message.ActionTarget == Root.Me ? "You do not have enough credits to chat" : $"{message.ActionTarget.Name} does not have enough credits to chat",
            ServerAction.CreditsRanOut => message.ActionTarget == Root.Me ? "Session aborted because you run out of credits" : $"Session aborted because {message.ActionTarget.Name} ran out of credits",
            ServerAction.Admin => "Session aborted by server administrator",
            _ => message.Action.ToString()
        };
    }

    void Reset()
    {
        partner = null;
        state = State.Idle;
        StopTimer();
        StateHasChanged();
    }


    void StartTimer()
    {
        timer = new Timer(state =>
        {
            if (partner != null)
            {
                Console.WriteLine("App: sending poll request");
                HubService.RequestPoll(partner.ConnectionId, localStreamId);
            }
        },
        null, 10000, 10000);
    }

    void StopTimer()
    {
        timer?.Dispose();
        timer = null;
    }
}
